.page-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}

.title__dashboard {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 200px;
}

.title__dashboardchild {
    width: 18%;
    display: flex;
    justify-content: space-around;
}

    .title__dashboardchild > a {
        text-decoration: none;
        color: #495057;
    }

    .title__dashboardchild > p {
        color: #6a6f74;
    }
.product-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter {
    width: 25%;
    background: #fff;
    padding: 1.25rem;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.title-filter {
    font-weight: bold;
    color: #495057;
}

.product-list {
    list-style: none;
}

    .product-list > li > a {
        display: block;
        padding: 6px 5px;
        color: #495057;
        text-decoration: none;
        font-size: 16px;
        margin-bottom: 5px;
    }

        .product-list > li > a:hover {
            background: #f2f2f2;
        }

        .product-list > li > a > i {
            font-size: 20px;
            margin-right: 0.25rem;
        }

.clothes {
    width: 70%;
}

.head-clothes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.title-clothes {
    width: 50%;
    font-weight: bold;
    color: #495057;
}

.style-clothes {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.form-search__clothes {
    position: relative;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

    .form-search__clothes > input {
        width: 100%;
        height: 38px;
        padding-left: 40px;
        padding-right: 20px;
        background-color: #fff;
        border-radius: 30px;
        outline: none;
        border: none;
    }

    .form-search__clothes > span {
        position: absolute;
        top: 0;
        line-height: 38px;
        left: 13px;
        color: #67676e;
        font-size: 16px;
    }

.clothes__content {
    width: 100%;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
    padding: 1.25rem;
}

    .clothes__content > table {
        width: 100%;
    }

        .clothes__content > table > thead > tr > th {
            text-align: center;
            padding: 12px;
            font-size: 14px;
            background: #eff2f7;
        }

        .clothes__content > table > tbody > tr {
            border-top: 1px solid #eff2f7;
        }

            .clothes__content > table > tbody > tr > td {
                text-align: center;
                padding: 12px;
            }
