@model Feedback


<section class="feedBack-content">
    <form method="post" class="form-submit feedBack-form">
        <div class="name-user">
            <div class="first-name">
                <label asp-for="FullName"></label>
                <input type="text" asp-for="FullName" placeholder="Full Name..." />
            </div>
            <div class="last-name">
                <label asp-for="NumberPhone"></label>
                <input type="number" asp-for="NumberPhone" placeholder="Number Phone..." />
            </div>
        </div>
        <div class="email">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" placeholder="Email..." />
        </div>

        @*<div class="option-radio">
            <label for="">Which department do you have a suggestion for?</label>
            <div class="sales">
                <input type="radio" name="a" value="Sales" />

                <label for="">Sales</label>
            </div>
            <div class="customer-sp">
                <input type="radio" name="a" value="CustomerSupports" />

                <label for="">Customer Supports</label>
            </div>
            <div class="product-development">
                <input type="radio" name="a" value="ProductDeveplopment" />

                <label for="">Product Deveplopment</label>
            </div>
            <div class="other">
                <input type="radio" name="a" value="Other" />
                <label for="">Other</label>
            </div>
        </div>*@

        <div class="subject">
            <label asp-for="Subject"></label>
            <input type="text" asp-for="Subject" placeholder="Subject..." />
        </div>
        <div class="messgae">
            <label asp-for="Message"></label>
            <textarea asp-for="Message" id="" cols="30" rows="10" placeholder="Message..."></textarea>
        </div>
        <button type="submit" class="btn-submit">Send Message</button>
    </form>
</section>
