
<section class="feedBack__slide">
    <img src="~/image/feedback-silde.jpg" alt="" />

    <div class="feedBack__slide-content">
        <p>Client Feedback Form</p>
    </div>
</section>
<section class="feedBack-content">
    <form action="" class="form-submit feedBack-form">
        <div class="name-user">
            <div class="first-name">
                <label for="">First Name</label>
                <input type="text" name="FirstName" placeholder="First Name..." />
            </div>
            <div class="last-name">
                <label for="">Last Name</label>
                <input type="text" name="LastName" placeholder="Last Name..." />
            </div>
        </div>
        <div class="email">
            <label for="">Email</label>
            <input type="text" name="Email" placeholder="Email..." />
        </div>

        <div class="option-radio">
            <label for="">Which department do you have a suggestion for?</label>
            <div class="sales">
                <input type="radio" name="a" value="Sales" />

                <label for="">Sales</label>
            </div>
            <div class="customer-sp">
                <input type="radio" name="a" value="CustomerSupports" />

                <label for="">Customer Supports</label>
            </div>
            <div class="product-development">
                <input type="radio" name="a" value="ProductDeveplopment" />

                <label for="">Product Deveplopment</label>
            </div>
            <div class="other">
                <input type="radio" name="a" value="Other" />

                <label for="">Other</label>
            </div>
        </div>

        <div class="subject">
            <label for="">Subject</label>
            <input type="text" name="subject" placeholder="Subject..." />
        </div>
        <div class="messgae">
            <label for="">Message</label>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message..."></textarea>
        </div>
        <button type="submit" class="btn-submit">Send Message</button>
    </form>
</section>
