
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-4 img-contanct">
                    <img src="~/image/contact-us.png" height="500px" alt="" />
                </div>
                <div class="col-md-8 form-contact">
                    <div class="title-contact">
                        <h3>Have sOme QuestiOns?</h3>
                    </div>
                    <!-- <ul class="infor-address">
                      <li><i class="fas fa-globe-asia"></i>: MOLDOVA</li>
                      <li><a href="">VN:</a>Strada 31 August 1989 78,Chisinau,MD-2012</li>
                    </ul> -->
                    <form action="" class="form-content">
                        <input type="text" placeholder="Your Name..." />
                        <input type="text" placeholder="Your Email..." />
                        <input type="text" placeholder="Your Number Phone..." />
                        <textarea name=""
                                  id=""
                                  cols="30"
                                  rows="10"
                                  placeholder="Content..."></textarea>
                        <button type="submit" class="btn-submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
