@model ContentListViewModel


<div class="slider">
    <div class="slides">
        <div class="slide">
            <a href="">
                <img src="../image/slide1.jpg" alt="">
                <div class="slide__content">
                    <p>Lorem ipsum dolor sit,<br> amet consectetur adipisicing elit.</p>
                </div>
            </a>
        </div>
        <div class="slide">
            <a href="">
                <img src="../image/slide2.jpg" alt="">
                <div class="slide__content">
                    <p>Lorem ipsum dolor sit,<br> amet consectetur adipisicing elit.</p>
                </div>
            </a>
        </div>
        <div class="slide">
            <a href="">
                <img src="../image/slide3.jpg" alt="">
                <div class="slide__content">
                    <p>Lorem ipsum dolor sit,<br> amet consectetur adipisicing elit.</p>
                </div>
            </a>
        </div>
        <div class="slide">
            <a href="">
                <img src="../image/slide4.jpg" alt="">
                <div class="slide__content">
                    <p>Lorem ipsum dolor sit,<br> amet consectetur adipisicing elit.</p>
                </div>
            </a>
        </div>
    </div>
    <button id="next"><i class="fas fa-chevron-right"></i></button>
    <button id="prev"><i class="fas fa-chevron-left"></i></button>
</div>

<section class="ourWorld">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ourWorld__header">
                <div class="row text-center">
                    <div class="col-md-12 ourWorld__title">
                        <h3>Our wOrld</h3>
                    </div>
                    <div class="col-md-12 ourWorld__description">
                        <p>
                            A series of dynamic and embracing worlds for couple and
                            family creating experiences and <br />encouraging new
                            discoveries
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ourWorld__content">
                <div class="row">
                    <div class="col-md-4 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen-small.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-8 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen-big.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen1-big.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen2-big.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen1-small.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen2-small.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 banner">
                        <a href="" class="banner__links">
                            <img src="../image/screen3-small.jpg" alt="" />
                            <div class="banner__content">
                                <p>Lorem</p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>

<section class="videos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 video__content">
                <video controls>
                    <source src="~/video/pexels-charles-parker-5825783.mp4">
                </video>
            </div>
            <div class="col-md-12 text-center video__more">
                <a href="">More Video</a>
            </div>
        </div>
    </div>
</section>
<section class="zones">
    <div class="row zones__list">
        @foreach (var p in Model.Medias)
        {
            <div class="col-md-5 col-6 col-sm-6 zones__item">
                <a href="">
                    <img src="~/images/@p.Url" alt="" />
                    <div class="zones__content">
                        <p class="text-center mb-0">@p.Shops.ShopName</p>
                        <span>@p.Shops.ShopOpenTime</span>
                    </div>
                </a>
            </div>
        }
    </div>
</section>