@model PageAdmin.Models.Shop

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopName" class="control-label"></label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopLocation" class="control-label"></label>
                <input asp-for="ShopLocation" class="form-control" />
                <span asp-validation-for="ShopLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopOpenTime" class="control-label"></label>
                <input asp-for="ShopOpenTime" class="form-control" />
                <span asp-validation-for="ShopOpenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopContact" class="control-label"></label>
                <input asp-for="ShopContact" class="form-control" />
                <span asp-validation-for="ShopContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <select asp-for="CategoryID" class ="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ShopAbout" class="control-label"></label>
                <input asp-for="ShopAbout" class="form-control" />
                <span asp-validation-for="ShopAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
