@model PageAdmin.Models.ViewModels.ShopListViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h1>Edit</h1>

<h4>Shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Shops" enctype="multipart/form-data" method="post">
            <input type="hidden" asp-for="Shops.ShopID" />
            <div class="form-group">
                <label asp-for="Shops.ShopName" class="control-label"></label>
                <input asp-for="Shops.ShopName" class="form-control" />
                <span asp-validation-for="Shops.ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shops.ShopLocation" class="control-label"></label>
                <input asp-for="Shops.ShopLocation" class="form-control" />
                <span asp-validation-for="Shops.ShopLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shops.ShopOpenTime" class="control-label"></label>
                <input asp-for="Shops.ShopOpenTime" class="form-control" />
                <span asp-validation-for="Shops.ShopOpenTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shops.ShopContact" class="control-label"></label>
                <input asp-for="Shops.ShopContact" class="form-control" />
                <span asp-validation-for="Shops.ShopContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shops.CategoryID" class="control-label"></label>
                <select asp-for="Shops.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Shops.ShopAbout" class="control-label"></label>
                <input asp-for="Shops.ShopAbout" class="form-control" />
                <span asp-validation-for="Shops.ShopAbout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <div class="custom-file">
                    <input name="file" type="file" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>-->
                @*<span asp-validation-for="Media" class="text-danger"></span>*@
            <!--</div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<div class="container-fuild">
    <div class="page-title">
        <div class="title__dashboard">
            <p>Create Shop</p>
        </div>
        <div class="title__dashboardchild">
            <a href="#">Ecommerce</a>
            <span>/</span>
            <p>Product</p>
        </div>
    </div>
    <div class="add-product">
        <h4 class="add-product__title">Basic Information</h4>
        <p class="add-product__desc">Fill all information below</p>
        <form asp-action="Edit" asp-controller="Shops" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-sm-6">
                    <input type="hidden" asp-for="Shops.ShopID" />
                    <div class="form-group">
                        <label class="control-label" asp-for="Shops.ShopName"></label>
                        <input type="text"
                               asp-for="Shops.ShopName"
                               class="form-control" />
                        <span asp-validation-for="Shops.ShopName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Shops.ShopLocation"></label>
                        <input type="text"
                               asp-for="Shops.ShopLocation"
                               class="form-control" />
                        <span asp-validation-for="Shops.ShopLocation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Shops.ShopOpenTime"></label>
                        <input type="text"
                               asp-for="Shops.ShopOpenTime"
                               class="form-control" />
                        <span asp-validation-for="Shops.ShopOpenTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Shops.ShopContact"></label>
                        <input type="text" asp-for="Shops.ShopContact" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label asp-for="Shops.CategoryID"></label>
                        <select asp-for="Shops.CategoryID" class="form-control product-category" asp-items="ViewBag.CategoryID"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <div class="custom-file">
                            <input name="file" type="file" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        @*<span asp-validation-for="Media" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Shops.ShopAbout"></label>
                        <textarea class="form-control" style="height: 127px;" asp-for="Shops.ShopAbout"></textarea>
                        <span asp-validation-for="Shops.ShopAbout" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="create-product">Save Changes</button>
        </form>
    </div>
</div>