
<section class="choose-seat">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="links-list">
                            <li><a href="">Trang chủ </a><span> > </span></li>
                            <li><a href="">Đặt vé </a> <span> > </span></li>
                            <li><a href="">(Tên phim)</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 limit">
                        <span>
                            Theo quy định của cục điện ảnh, phim này không dành cho khán
                            giả dưới 13 tuổi.
                        </span>
                    </div>
                    <div class="col-md-12 payment-infor">
                        <div class="row">
                            <!--  -->
                            <div class="col-md-12 payment-page-title">
                                <i class="far fa-user-circle"></i><span>Thông tin người dùng</span>
                            </div>
                            <form class="col-md-12 payment-form">
                                <div class="row">
                                    <div class="col-md-4 user-info">
                                        <label>Họ tên:</label>
                                        <input type="text"
                                               name="name"
                                               placeholder="Your Name..." />
                                    </div>
                                    <div class="col-md-4 user-info">
                                        <label>Number Phone:</label>
                                        <input type="text"
                                               name="name"
                                               placeholder="Number Phone..." />
                                    </div>
                                    <div class="col-md-4 user-info">
                                        <label>Email:</label>
                                        <input type="text"
                                               name="name"
                                               placeholder="Email..." />
                                    </div>
                                    <div class="col-md-12 seat-infor">
                                        <div class="row">
                                            <div class="col-md-8 total-seat">
                                                <input class="disable-input" type="text" name="" id="" value="Ghế VIP" disabled>
                                            </div>
                                            <div class="col-md-2 total-seat"><span>1 * 45000</span></div>
                                            <div class="col-md-2 total-seat"><input class="disable-input" type="text" name="totalPrice" value="45.000 vnđ" disabled></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="row">
                                                    <div class="col-md-7"></div>
                                                    <div class="col-md-3 total-title-price">
                                                        <span>Tổng tiền</span>
                                                    </div>
                                                    <div class="col-md-2"><input class="disable-input" type="text" name="totalPrice" value="45.000 vnd" disabled></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="row">
                                                    <div class="col-md-7"></div>
                                                    <div class="col-md-3 total-title-price">
                                                        <span>Số tiền được giảm</span>
                                                    </div>
                                                    <div class="col-md-2">0</div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="row">
                                                    <div class="col-md-7"></div>
                                                    <div class="col-md-3 total-title-price">
                                                        <span>Số tiền cần thanh toán</span>
                                                    </div>
                                                    <div class="col-md-2">45.000vnd</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="title-card-payment">
                                            <i class="fas fa-money-check"></i>
                                            <span>Phương Thức Thanh Toán</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 credit-card">
                                                <input type="radio" value="1" name="medthod">
                                                <i class="far fa-credit-card"></i>
                                                <spam>Thẻ nội địa</spam>
                                            </div>
                                            <div class="col-md-4 credit-card">
                                                <input type="radio" value="2" name="medthod">
                                                <i class="fab fa-cc-amazon-pay"></i>
                                                <spam>AirPay</spam>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 movie-ticket-page">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="./image/movie.jpg" width="100%" alt="" />
                            </div>
                            <div class="col-md-6">
                                <a href=""
                                   style="
                          font-weight: bold;
                          text-transform: uppercase;
                          font-size: 14px;
                          color: #1786c3;
                        ">Thanh gươm diệt quỷ</a>
                                <p>2D Phụ đề</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="fas fa-tags"></i>Thể loại
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">
                                            Tâm lý, Trinh thám
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="far fa-clock"></i>Thời lượng
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">96 phút</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <hr class="border-dashed border-top-2" />
                    </div>
                    <div class="col-md-12">
                        <ul class="list-unstyled">
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="fas fa-university"></i>Rạp chiếu
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">Beta Thái Nguyên</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="far fa-calendar-alt"></i>Ngày chiếu
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">29/01/2021</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="far fa-clock"></i>Giờ chiếu
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">20:00</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="fas fa-desktop"></i>Phòng chiếu
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">P1</span>
                                    </div>
                                </div>
                            </li>
                            <li></li>
                            <li>
                                <div class="row">
                                    <div class="col-md-6 title-tickit">
                                        <i class="fas fa-cubes"></i>Ghế ngồi
                                    </div>
                                    <div class="col-md-6">
                                        <span class="content-tickit">A1,A2</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-12 submit-ticket">
                                        <a href="" class="buy-ticket">
                                            <span>
                                                <i class="fas fa-ticket-alt"></i>
                                            </span>
                                            Buy Ticket
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>