
    <section class="slide__shop">
        <img src="./image/slide-shop.jpeg" alt="" />
        <div class="slide__shop-content">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
            <h3>Rebecca Minkoff</h3>
            <div class="shop__info">
                <div class="date-info">Saturday 4, 2020</div>
                <div class="category-info">
                    <span>|</span>
                    Shopping
                </div>
            </div>
        </div>
    </section>
    <section class="shop">
        <div class="container">
            <div class="row">
                <div class="col-md-12 shop__infor">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
                        ratione aperiam quisquam nihil. Laborum qui illo beatae saepe
                        molestiae, asperiores id ullam nesciunt consectetur molestias
                        quod exercitationem deserunt aliquam sit?Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Illum voluptate nostrum autem
                        ipsa, vero porro aliquam? Iure ea ab dolor veniam? Velit nostrum
                        quia exercitationem ipsa, voluptas blanditiis accusantium quam.
                    </p>
                </div>
                <div class="col-md-12 shop__img">
                    <img src="./image/shop-img.jpg" alt="" />
                </div>
                <div class="col-md-12 shop__des">
                    <div class="row">
                        <div class="col-md-6 shop__des-infor">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Dolores sit fugiat consectetur voluptates animi error
                                perferendis deleniti placeat delectus est saepe minima
                                molestias corporis, voluptate omnis ipsa eum alias sequi.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur deleniti cumque recusandae doloribus officiis sint
                                laboriosam? Culpa cum harum provident neque quisquam non
                                voluptas, odit rerum nulla nam, maiores tenetur?
                            </p>
                        </div>
                        <div class="col-md-6 shop__des-img">
                            <img src="./image/shop-img1.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 shop__des">
                    <div class="row">
                        <div class="col-md-6 shop__des-img">
                            <img src="./image/shop-img1.jpg" alt="" />
                        </div>
                        <div class="col-md-6 shop__des-infor">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Dolores sit fugiat consectetur voluptates animi error
                                perferendis deleniti placeat delectus est saepe minima
                                molestias corporis, voluptate omnis ipsa eum alias sequi.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Tenetur deleniti cumque recusandae doloribus officiis sint
                                laboriosam? Culpa cum harum provident neque quisquam non
                                voluptas, odit rerum nulla nam, maiores tenetur?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 shop__infor">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae
                        ratione aperiam quisquam nihil. Laborum qui illo beatae saepe
                        molestiae, asperiores id ullam nesciunt consectetur molestias
                        quod exercitationem deserunt aliquam sit?Lorem ipsum dolor sit
                        amet consectetur adipisicing elit. Illum voluptate nostrum autem
                        ipsa, vero porro aliquam? Iure ea ab dolor veniam? Velit nostrum
                        quia exercitationem ipsa, voluptas blanditiis accusantium quam.
                    </p>
                </div>
                <div class="col-md-12 shop__img">
                    <img src="./image/product.png" alt="" />
                </div>
            </div>
        </div>
    </section>