
    <section class="slide-gallery"></section>
    <section class="gallery-content">
        <div class="gallery-container">
            <div class="row">
                <div class="col-md-12 list-gallery">
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 list-gallery">
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-6 gallery">
                        <div class="row">
                            <div class="col-md-12 img-gallery">
                                <img src="./image/screen-big.jpg"
                                     alt="" />
                            </div>
                            <div class="col-md-12 des-gallery">
                                <p>Saturday 4, 2019</p>
                                <a href="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing
                                    elit
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
