@model ContentListViewModel


<section class="beta">
        <div class="beta__slide">
            <img src="./image/slide-beta.png" alt="" />
            <!-- <div class="beta__slide-content">
              <h3>Beta Cineplex</h3>
              <span
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quibusdam quas aut distinctio praesentium temporibus unde
                accusantium neque quo,<br />
                quasi illum necessitatibus nihil fugiat porro in non veniam, nam
                provident fuga.</span
              >
            </div> -->
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 nav-film">
                    <ul class="tab-films">
                        <li><a class="film-time active-films">Movie coming soon</a></li>
                        <li><a class="film-time">Movie is playing</a></li>
                        <li><a class="film-time">Special show rate</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="movies">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row movie-list">
                        @foreach (var p in Model.Medias)
                        {
                            <div class="col-md-4 movie">
                                <div class="row">
                                    <div class="col-md-12 img-movie">
                                        <img src="~/image/movie.jpg" alt="" />
                                    </div>
                                    <div class="col-md-12 movie-infor">
                                        <a @*asp-action="Detail" asp-controller="Movie" asp-route-MovieID="@p.Movie.MovieID"*@ class="movie__title">@p.Movies.Title</a>
                                        <div class="cate-movie">
                                            <p><span>Genre:</span> @p.Movies.Genre</p>
                                            <p><span>Durations:</span> @p.Movies.Duration minute</p>
                                        </div>
                                        <a href="" class="buy-ticket">
                                            <span>
                                                <i class="fas fa-ticket-alt"></i>
                                            </span>
                                            Buy Ticket
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>