@model ContentListViewModel


    <section class="slide-gallery"></section>
    <section class="gallery-content">
        <div class="gallery-container">
            <div class="row">
                <div class="col-md-12 list-gallery">
                    @foreach (var p in Model.Medias)
                    {
                        <div class="col-md-5 col-6 gallery">
                            <div class="row">
                                <div class="col-md-12 img-gallery">
                                    <img src="~/images/@p.Url"
                                         alt="" />
                                </div>
                                <div class="col-md-12 des-gallery">
                                    <p>@p.Shops.ShopOpenTime</p>
                                    <a asp-action="Detail" asp-controller="Shops" asp-route-ShopID="@p.ShopID">
                                        @p.Shops.ShopName
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
